.mainHeader {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.whiteBackground {
  background: white !important;
}

.Dropdown {
  font-family: "FuturaMdBt", sans-serif;
  padding: 5% 10% 5% 10%;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.Subcategories {
  display: flex;
  flex-wrap: wrap;
  background-color: white; /* Set background color to white */
  border-radius: 9px;
  text-decoration: none;
  color: black;
  width: calc(100% - 270px);
  overflow: hidden;
  height: fit-content;
}

.Subcategory {
  width: calc(46%);
  padding: 10px 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: black;
}

.Subcategory:hover {
  background-color: #f3f3f3;
  font-weight: 500;
}

.logoSection {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
}
.menuSection {
  flex: 1;
}
.menuList {
  display: flex;
  color: white;
  gap: 10%;
  list-style-type: none;
  margin-right: 4rem;
  color: rgba(163, 163, 163, 1);
  width: 100%;
  justify-content: flex-end;
  margin-left: -20%;
}
.menuList a {
  cursor: pointer;
  color: rgba(163, 163, 163, 1);
  text-decoration: none;
  white-space: nowrap;
}
.menuList a:hover {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
}
.hamburgerBtn {
  display: none;
}
.contactUsBtn {
  color: white;
  background: #2196f3;
  border-radius: 3rem;
  padding: 5px 24px;
  fontfamily: "FuturaBKBt,sans-serif";
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
}
.MobilecontactUsBtn {
  display: none;
}
.disable-scroll {
  overflow: hidden;
}
@media (max-width: 768px) {
  .MobilecontactUsBtn {
    background: #2196f3;
    border-radius: 3rem;
    padding: 5px 24px;
    fontfamily: "FuturaBKBt,sans-serif";
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    width: fit-content;
  }
  .menuSection {
    display: none;
  }
  .logoSection {
    width: 100%;
  }
  .menuList {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
  .menuList li {
    margin: 0 1rem;
  }
  .hamburgerBtn {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    width: 23.33px;
    height: 20.42px;
  }
  .contactUsBtn {
    display: none;
  }
  .mobileNav {
    background-color: white;
    padding: 1rem 10%;
    border-radius: 1rem;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text: center;
    overflow: scroll;
  }
  .mobileNav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 20px 0;
    text-align: left;
  }
}
