.contentSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tileDescription {
  font-family: "FuturaMdBt", sans-serif;
  font-size: 14px;
}
.servicesHeading {
  font-family: "FuturaMdBt", sans-serif;
  font-size: 32px;
}
.serviceTitle {
  font-family: "FuturaMdBt", sans-serif;
  font-size: 24px;
  color: #3f3f46;
  margin-top: 0;
  margin-left: 3%;
}
.serviceDescription {
  color: #3f3f46;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.subheading {
  font-size: 20px;
  margin: 0;
  word-spacing: 2px;
  color: #545454;
  font-family: "FuturaHvBt", sans-serif;
}
.introduction {
  font-weight: bold;
  font-family: "FuturaMdBt", sans-serif;
}

.ServicesContent {
  color: black;
  padding: 2rem 0.4rem;
}

.sectionOurServices {
  width: auto;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.colorStyle {
  background-color: rgba(33, 150, 243, 0.2);
  height: 80px;
  width: 100%;
}

.ourServicesContent {
  padding: 0rem 2% 1rem 3%;
  background-color: rgba(33, 150, 243, 0.2);
}

.headingWithLogo {
  display: flex;
  margin-left: -1.5rem;
  align-items: center;
  gap: 6px;
}

.startUpTile {
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  margin-left: -2%;
}

.tile {
  width: 10rem;
  margin: 0.5rem;
  padding: 0.4rem 0.5rem;
  padding-top: 2rem;
  color: #fff;
  font-weight: 600;
  background: rgba(121, 153, 234, 1);
  border-radius: 1.73px 78px 1.73px 1.73px;
  height: 165px;
  cursor: pointer;
}
.tileHovered {
  background-color: #ffd234;
}

.titleImage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.learnMoreLink {
  color: #2196f3;
  text-decoration: none;
}
.empowerHeading {
  font-size: 40px !important;
  margin: 0;
  font-family: "FuturaHvBt", sans-serif;
  display: block;
  color: #1b1919;
}
.Image {
  width: 80%;
  height: 300px;
  position: relative;
  align-self: flex-end;
  min-width: 350px;
}
@media (min-width: 768px) {
  .blueDesign {
    margin: 0;
    background-color: rgba(33, 150, 243, 0.2);
    width: 99px;
    height: 208px;
    position: absolute;
  }

  .contentSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 0;
  }

  .servicesPeoplesimg {
    margin: 0;
    align-self: center;
  }

  .ServicesContent {
    padding: 2rem 0rem 2rem 9.5%;
    max-width: 40rem;
  }

  .Image {
    width: 544px;
    height: 390px;
    align-self: center;
  }

  .ourServicesContent {
    width: 50%;
    background-color: #d3e3ed;
    height: fit-content;
    margin-top: 4rem;
    margin-left: -3.3%;
  }

  .sectionOurServices {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }

  .tile {
    width: 25%;
  }

  .colorStyle {
    background-color: rgba(33, 150, 243, 0.2);
    width: 9rem;
    height: 24rem;
    margin-top: 4rem;
  }
  .empowerHeading {
    display: inline;
  }
  .subheading {
    font-weight: bolder;
    font-size: 26px;
    margin: 0;
    word-spacing: 2px;
    color: #545454;
  }
}
