.blogLogos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  display: none;
}

.bloglogoHeading {
  text-align: center;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  font-family: "FuturaMdBt", sans-serif;
}
.cardContent {
  padding: 0 10px; /* Padding of 10px horizontally and 0 vertically */
  color: black;
  text-decoration: none;
}
.title {
  height: 25px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
}
.description {
  height: 50px; /* Set the desired height */
  overflow: hidden;
  line-height: 1.5; /* Adjust the line height as needed */
  color: #525252;
  letter-spacing: 0.25px;
  margin-top: 0;
}

.blogLogoImagesTestimonial {
  display: flex;
  flex-wrap: wrap;
  max-width: 19rem;
  column-gap: 0rem;
  gap: 2rem;
  justify-content: space-between;
}

.blogTiles {
  width: 80%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-left: 10rem;
}

.tileCard {
  width: 20rem;
  border: 1px solid black;
  border-top-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tileCard img {
  width: 100%;
  height: 247px;
  border-top-right-radius: 3rem;
  object-fit: cover;
}

@media (min-width: 968px) {
  .blogLogos {
    display: block;
    margin-top: 5rem;
    margin-left: -1%;
  }

  .blogLogoImagesTestimonial {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10em;
    max-width: 55em;
    padding-top: 2rem;
  }
}
